ai-service/LLM_agent/integrations/n8n/urfu_healthcheck_workflow.json
{
  "name": "URFU Runtime Healthcheck",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "Schedule_Trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/health",
        "options": {
          "timeout": 30000
        }
      },
      "id": "Backend_Health",
      "name": "Backend Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status_ok",
              "leftValue": "={{$json.status}}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_Backend_OK",
      "name": "If Backend OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    level: 'error',\n    message: 'Backend health is not ok'\n  }\n}];"
      },
      "id": "Build_Health_Alert",
      "name": "Build Health Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        360
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Backend Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Health": {
      "main": [
        [
          {
            "node": "If Backend OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Backend OK": {
      "main": [
        [],
        [
          {
            "node": "Build Health Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
