ai-service/LLM_agent/integrations/n8n/urfu_reindex_watchdog_workflow.json
{
  "name": "URFU Reindex Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "Schedule_Trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        260
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/admin/reindex/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Token",
              "value": "={{$env.ADMIN_TOKEN}}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "Get_Reindex_Status",
      "name": "Get Reindex Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_error",
              "leftValue": "={{$json.last_error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_Error",
      "name": "If Last Error Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    level: 'error',\n    message: `Reindex failed: ${$json.last_error}`,\n    started_at: $json.started_at,\n    finished_at: $json.finished_at\n  }\n}];"
      },
      "id": "Build_Alert",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        180
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Reindex Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reindex Status": {
      "main": [
        [
          {
            "node": "If Last Error Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Last Error Exists": {
      "main": [
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
